body{
  min-height: 101vh;
}

.hero{
  padding: 2% 0;
}

.hero__title{
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 2% 0; 
}

#searchform--one{
  position: relative;
  background: #fff;
  margin-bottom: 2%;
}

.searchform-one__hidden-button{
  position: absolute;
  right: 0;
  opacity: 0;
  height: 62%;
}

.has-search .form-control-feedback {
  font-size: 1.5em;
  top: 12%;
  right: 1%;
}

#searchform--one .form-control:focus {
  box-shadow: none;
}

main{
  margin: 2% 0;
  background-color: #fff;
  padding: 4% 2%;
  border-radius: 5px;
  box-shadow: 0px 0px 26px 1px rgba(0,0,0,0.1);
}

input[type=file].form-control{
  padding: 2%;
  border-radius: 5px;
  height: 65px;
}

.pull-right{
  text-align: right;
  padding: 0;
}

.pull-right button{
  background-color: #000;
  border-color: transparent;
  color: #fff;
}

.pull-right button:hover{
  background-color: #f4f4f4;
  color: #000;
  border-color: #000
}

label{
  color: #000
}

.table th, .table td {
    padding: 0.2rem 0.3rem;
}

.list-contract__parties{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 50%));
  grid-auto-rows: 70px;
}

.list-contract__party{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
  margin: 5px;
}

.data{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 70px;
}

.data__start, .data__end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
}

.list-contract{
  margin-top: 50px
}

.data__start > *, .data__end > * {
  margin: 0 !important;
}

#table-result-search{
  margin: 15px
}